html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.42857143;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}
/*----COLOR-----*/
div {
  margin: 15px;
  display: flex;
  flex-direction: column;
  width: 200px;
}
#number1,
#number2,
#result {
  height: 30px;
  border-radius: 6px;
  background-color: #FFDAB9;
  font-size: 16px;
  color: #2c3e50;
  border: 0;
  padding: 2px 15px;
}
#result {
  overflow: hidden;
  height: 0px;
  padding: 7px 15px 0;
  opacity: 0;
}
.access,
button,
#btn {
  cursor: pointer;
  font-size: 16px;
  border-radius: 6px;
  background-color: #2c3e50;
  border: 1.3px solid #2c3e50;
  color: #fff;
  margin: 10px 15px;
  padding: 10px 16px;
  transition: background-color 0.5s;
}
.access:hover,
button:hover,
#btn:hover {
  background-color: #E87E04;
  color: #2c3e50;
  text-shadow: none;
}
#main {
  width: 600px;
  height: 450px;
}
#main img {
  width: 85%;
  height: 430px;
}
#images {
  margin: 10px;
}
#images ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
#images li {
  position: relative;
  margin: 0px;
  list-style-type: none;
  padding: 5px;
}
#images img {
  height: 100px;
  cursor: pointer;
}
#login,
#psw {
  display: inline;
  border: 1px solid #c6c6c6;
  border-radius: 8px;
  height: 20px;
  width: 380px;
  padding: 8px;
  margin-bottom: 8px;
}
#login:hover,
#psw:hover {
  background-color: #ffeb9a;
}
#btn_modal {
  cursor: pointer;
  font-size: 16px;
  border-radius: 6px;
  background-color: #fff;
  border: 1.3px solid #2c3e50;
  color: #2c3e50;
  padding: 10px 16px;
  transition: background-color 0.5s;
}
#btn_modal:hover {
  background-color: #E87E04;
  color: #2c3e50;
  text-shadow: none;
}
.box {
  display: none;
  width: 430px;
  border: 1px solid #2c3e50;
  border-radius: 6px;
  padding: 20px;
  background-color: #FFDAB9;
  position: fixed;
  top: 15%;
  left: 30%;
}
form {
  padding-left: 8px;
}
.box_button {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: flex-end;
  margin-bottom: 5px;
}
.box_button .access,
.box_button #btn_modal {
  margin: 0 -3px 0 10px;
}
i {
  cursor: pointer;
}
.eye {
  display: inline-block;
  width: 16px;
  margin: 0px;
}
.close {
  width: 405px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 0px;
}
