html, body{
	margin:0;
	padding: 0;
    font-size: 16px;
    line-height: 1.42857143;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

/*----COLOR-----*/
@orange: #E87E04;
@light_salmon: #FFDAB9;
@white: #fff;
@dark_grey: #2c3e50;
@grey: #616e7c;
@grey_shadow: #555;
@main_links_hover: #fdc99b;
@color_btn_about: #76818d;
@color_circle_percent: #474d5d;
@color_contact: #f4f5f6;
@gradient_experience: #f4f5f6;
@color_timeline_figure: #eee;
@color_counter: #415161;
@bgcolor_textarea: rgba(255,255,255,0.8);
@color_footer: #ddd;
@owl_dot: #d5d8dc;

div{
    margin: 15px;
    display: flex;
    flex-direction: column;
    width: 200px;
}
#number1, #number2, #result{
    height: 30px;
    border-radius: 6px;
    background-color: @light_salmon;
    font-size: 16px;
    color: @dark_grey;
    border: 0;
    padding: 2px 15px;
}

#result{
    overflow: hidden;
    height: 0px;
    padding: 7px 15px 0; 
    opacity: 0;
}

.access, button, #btn{
    cursor: pointer;
    font-size: 16px;
    border-radius: 6px;
    background-color: @dark_grey;
    border: 1.3px solid @dark_grey;
    color: @white;
    margin: 10px 15px;
    padding: 10px 16px;
    transition: background-color .5s;
    
    &:hover{
        background-color: @orange;
        color: @dark_grey;
        text-shadow: none;
    }
}

#main{
    width: 600px;
    height: 450px;

    img{
        width: 85%;
        height: 430px;
    }
}

#images{

    margin: 10px;

    ul {
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;
    }
    li {
        position: relative;
        margin: 0px;
        list-style-type: none;
        padding: 5px;
    }

    img{
        height: 100px;
        cursor: pointer;
    }
}
#login, #psw{
	display: inline;
    border: 1px solid #c6c6c6;
    border-radius: 8px;
    height: 20px;
    width: 380px;
    padding: 8px;
    margin-bottom: 8px;

    &:hover{
        background-color: #ffeb9a;
    }
}

#btn_modal{
    cursor: pointer;
    font-size: 16px;
    border-radius: 6px;
    background-color: @white;
    border: 1.3px solid @dark_grey;
    color: @dark_grey;
    padding: 10px 16px;
    transition: background-color .5s;
    
    &:hover{
        background-color: @orange;
        color: @dark_grey;
        text-shadow: none;
    }
}
.box{
    display: none;
    width: 430px;
    border: 1px solid @dark_grey;
    border-radius: 6px;
    padding: 20px;
    background-color: @light_salmon;
    position: fixed;
    top: 15%;
    left: 30%;
}
form{
    padding-left: 8px;
}
.box_button{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: flex-end;
    margin-bottom: 5px;

    .access, #btn_modal{
        margin: 0 -3px 0 10px;
    }
}
i{
    cursor: pointer;
}
.eye{  
    display: inline-block;
    width: 16px;
    margin: 0px;
}
.close{
    width: 405px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 0px;
}
